body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .invalid-field{
    border-color: #dc3545;
    color: #dc3545;
    background-color: #fff;
  }
  
  table div.card {
    align-items: center;
    border: none;
    transition: transform 0.2s;
  }
  table div.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 10px #333;
    z-index: 10;
  }
  
  table div.card:hover button.delete-button {
    visibility: visible;
  
  }
  
  table div.card-body {
    text-align: center;
  }
  
  table div.card img {
    width: 175px;
    height: 175px;
    margin: 30px;
  }
  
  table div.card .delete-button {
    visibility: hidden;
  }
  
  table tr td:not(:nth-child(3)){
    border-right: 1px solid #00000020;
    
  }
  
  table tr:not(:last-child) td{
    border-bottom: 1px solid #00000020;
  }
  .productminicard
  {
      min-width: 100px;
      min-height: 200px;
      max-height: 355px;
      max-width: 200px;
      display: grid;
   font-family: 'Poppins', sans-serif;
   text-align: center;
   border-radius: 20px;
   border: 10px solid #6d6969;
      box-shadow: 2px 8px 20px rgba(212, 206, 206, 0.801);
      
  }
  .productminicard img{
      max-width: 120px;
      min-height: 120px;
      max-height: 130px;
      width: 100%;
      height: 75%;
      max-height: 200px;
      display: block;
      object-fit: cover;
  }

  
.productcard{
  display: grid;
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
  border: 10px solid #3b413b;
}
.productcard button{
  border: none;
  outline: none;
  background: rgb(46, 182, 13);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 30px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 15px 0;
}